<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("css/bootstrap.min.css")%>">
  <link rel="stylesheet" type="text/css" href="<%= url("css/style.css")%>">
</head>
<body class="text-center container">
  <h1>Hangman Game</h1>
  <%= "The word have #{secret_word.length} letters" %>
  <br>
  <img src="<%= url("img/hangman#{i}.png")%>">
  <br>
  <%= "Available letters: #{letters}" %>
  <br>
  <%= "You have #{i} guesses left." %>
  <br>
  <%= message %>
  <br>
  <%= final_message %>
  <form id="gameForm" method="post">
    <br>
    <% if i <= 0%>
      <input type="hidden" name="restart" value="true">
      <input type="submit" name="submit" value="Restart">
    <% else %>
      <label> Letter </label>
      <input type="text" name="letter" autocomplete="off">
      <input type="hidden" name="restart" value="false">  
      <input type="submit" name="submit" value="Submit">
    <% end %>  
  </form>
  <br>
</body>
</html>